<!-- Confirmation Modal for Save All -->
<div class="modal fade" id="saveAllModal">
  <div class="modal-header">
    <h3>Save All Changes?</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to save all the unsaved changes to <span id='modal-item-name'></span>?</p>
  </div>
  <div class="modal-footer">
    <a id="modal-close" class="btn">Cancel</a>
    <a id="modal-saveAll" class="btn btn-success">Save changes</a>
  </div>
</div>