<div class='row'>
	<div class='span12'>
		<div class='center-block'>
			<%= link_to "Compare Products", "/compare_products", :class => "btn-large btn-primary btn-mega" %>
			<%= link_to "Compare Variants", "/compare_variants", :class => "btn-large btn-primary btn-mega" %>
		</div>
	</div>
</div>
