<!DOCTYPE html>
<html>
 	<head>
		<meta content="text/html; charset=UTF-8" http-equip="Content-Type">
	</head>
	<body>
		<p>Message from <%= @from_email %></p>
		<p>
		<%= @message %>
		</p>
	</body>
</html>