/* General */

.center-block {
  display:block;
  text-align: center;
  padding: 10px 0 10px 0;
}

.center {
  margin: 0px auto;
}

.btn-mega {
  font-size: 4em;
}

/* Product Select Form */
.product-select {
  border-radius: 15px;
  border: 2px solid;
  border-color: #555555;
  background-color: #DDDDDD;
}

.product-select-table {
  width: 100%;
  
  tr td {
    padding: 10px;
    vertical-align: top;
  }
  
  tr td.criteria-column {
    width: 10%;
  }
  
  tr td.product-column {
    width: 45%;
  }
}


/* Header */
.logo {
  width: 50%;
}

.small-logo {
  width: 10%;
}

/* Main Compare Panel */

.compare-table {
  width: 100%;
  
  tr th {
    background: #000044;
    color: #ffffff;
  }
  
  tr th, tr td {
    padding: 10px;
    vertical-align: top;
  }
  
  tr th.criteria-column {
    width: 10%;
  }
  
  tr th.compare-column {
    width: 45%;
  }
  
  tr:nth-child(even) {background: #CCC}
  tr:nth-child(odd) {background: #EEE}
}

.product-info {
  
}

.product-image {
  height:100px;
}

ul.product-info {
  margin-left: 0;
}

ul.product-info li {
  list-style-type: none;
  display:block;
  padding: 10px;
  color: black;
  margin-left: -10px;
}

ul.product-info li:nth-child(odd) { 
  background-color:#DDDDDD; 
}

ul.product-info li:nth-child(even) { 
  background-color:#EEEEEE; 
}